.footer-container {
    margin-top: 15rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.711);
    height: 10rem;
}

.footer-text {
    color: white;
}